* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 30px solid purple;
    margin: 60px;
}

.box-two {
    background-color: lightblue;
    height: 100px;
    width: 100px;
    padding: 10px;
    border:  solid red;
    margin: 60px;
}

/* 
For the box models, the margin pixels usually overlap. So if box-one has a margin of 60px and box-two also has 60px as a margin,
there won't be a 120px space between the two boxes. The margin of the two boxes will overlap and the space between the two boxes will be 60px.
*/