/* Set the background color and font family for the entire page */
body {
    font-family: 'Montserrat', 'Times New Roman', cursive;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* Style for the main heading */
h1 {
    color: burlywood;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
}

/* Style for images */
img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style for secondary headings */
h2 {
    color: darkslategray;
    font-size: 30px; 
    font-weight: 300;
    text-align: left;
    margin: 20px 0;
}

/* Style for the description header */
#Description-Header {
    background-color: white;
    color: black;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    padding: 10px;
}

/* Style for lists */
.list {
    background-color: darkcyan;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding: 10px;
    list-style-type: none;
}

/* Style for ingredients */
.ingredient {
    color: pink;
}

/* Style for list items */
li {
    color: black;
}

/* Style for paragraphs inside h2 elements */
h2 p {
    color: black;
    font-size: 20px; 
    font-weight: 300;
    text-align: left;
    font-family: 'Montserrat', 'Times New Roman'; 
}

/* Remove the outline for all elements */
* {
    outline: none;
}